@font-face {
    font-family: "NB Akademie Std";
    src:
        url("../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff2")
            format("woff2"),
        url("../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src:
        url("../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff2")
            format("woff2"),
        url("../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src: url("../assets/fonts/NBAkademieStd/NB_Akademie_Std_Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src: url("../assets/fonts/NBAkademieStd/NB_Akademie_Std_Bold.otf")
        format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src:
        url("../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff2")
            format("woff2"),
        url("../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src:
        url("../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff2")
            format("woff2"),
        url("../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src: url("../assets/fonts/NBAkademieStd/NB_Akademie_Std_Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src: url("../assets/fonts/NBAkademieStd/NB_Akademie_Std_Bold.otf")
        format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NB Akademie Std";
    src: url("../assets/fonts/NBAkademieStd/NB_Akademie_Std_Black.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl sm:text-6xl;
    }

    h2 {
        @apply text-lg sm:text-3xl leading-none;
    }

    h3 {
        @apply text-lg sm:text-2xl;
    }
}

@layer components {
    .checkbox {
        @apply checkbox-info rounded-none border-none bg-white/20 transition;
    }

    .btn {
        @apply rounded-none font-medium lowercase tracking-[-0.03em];
    }

    .btn-gallery {
        @apply no-animation sm:btn-lg text-[16px] font-medium lowercase tracking-[-0.03em] sm:text-xl;
    }

    .btn-gallery.locked {
        @apply fixed bottom-0 left-0 w-full drop-shadow-[0_-5px_10px_rgba(0,0,0,0.2)] sm:static sm:drop-shadow-none;
    }

    .divider {
        @apply rounded-sm before:h-[1px] before:bg-white/20 after:h-[1px] after:bg-white/20;
    }

    .list.pro {
        @apply first:border-t-2 first:border-white/20;
    }

    .list .item {
        @apply flex flex-row items-center justify-between border-b-2 border-white/20 py-2 font-normal sm:h-[60px] sm:py-3 sm:text-3xl overflow-hidden;
    }

    .list.list-sm .item {
        @apply flex h-fit flex-row items-center justify-between border-b-[1px] border-white/20 py-1 font-normal sm:h-fit 2xl:py-1 2xl:text-lg;
    }

    .input,
    .select,
    .textarea {
        @apply input-ghost bg-white/[.08] text-white placeholder:text-white/20 focus:bg-white/10 focus:text-white disabled:border-white/[0.03] disabled:bg-white/[0.03] disabled:placeholder:text-white/10;
    }

    .form-control .label-text {
        @apply text-white/40;
    }

    .input.data-capture,
    .select.data-capture {
        @apply sm:input-lg rounded-none bg-white text-[16px] font-normal text-black placeholder:text-black sm:text-xl;
    }

    .input.data-capture .react-date-picker__wrapper {
        @apply border-none;
    }

    .input.data-capture .react-date-picker__inputGroup {
        @apply w-full grow-0 px-0;
    }

    .input.data-capture .react-date-picker__inputGroup__input:invalid {
        @apply bg-white;
    }

    .input.data-capture
        .react-date-picker__button:enabled:hover
        .react-date-picker__button__icon,
    .input.data-capture
        .react-date-picker__button:enabled:focus
        .react-date-picker__button__icon {
        @apply stroke-black;
    }

    .input.error,
    .select.error {
        @apply text-red-600 placeholder:text-red-600;
    }

    .input.pro,
    .textarea.pro {
        @apply text-primary h-auto flex-1 bg-transparent text-right outline-none active:border-none disabled:border-none text-base sm:text-3xl pr-0 leading-none;
    }

    .textarea.pro.left,
    .input.pro.left {
        @apply pl-0 text-left;
    }

    .select.pro {
        @apply h-auto min-h-fit bg-transparent outline-none active:border-none leading-none text-base sm:text-3xl rounded-none;
    }

    .select.pro-form {
        @apply h-auto min-h-0 w-full bg-transparent pl-0 text-right font-normal lowercase focus:bg-transparent focus:outline-none active:bg-transparent sm:text-3xl;
    }

    .tab {
        @apply opacity-30 transition-opacity hover:opacity-100;
    }

    .tab-active {
        @apply opacity-100;
    }

    .table.table-ghost :where(tbody th, tbody td, thead) {
        @apply border-b-[1px] border-white/20 bg-transparent py-5 text-lg leading-4 tracking-tight;
    }

    .table.table-ghost :where(thead th) {
        @apply text-base font-medium normal-case;
    }

    .table.table-ghost :where(thead) {
        @apply border-t-[1px];
    }

    .toggle.pro {
        @apply bg-black;
    }

    .tooltip {
        @apply tracking-tight font-medium;
    }

    .tooltip::before {
        @apply max-w-[12rem] rounded-2xl leading-none py-3;
    }

    .icon svg {
        @apply scale-150;
    }

    .icon.icon-sm svg {
        @apply scale-[0.9];
    }

    .icon path {
        @apply transition;
    }

    .icon.primary path {
        @apply stroke-primary;
    }

    .icon.grey path {
        @apply stroke-white/30;
    }

    .carousel-arrow svg {
        @apply scale-[1.75];
    }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    background-color: black;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: black;
    letter-spacing: -0.03rem;
    line-height: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.input.pro:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00ff99 !important;
}

input[type="date"] {
    width: 100%;
}

input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
    width: 100%;
}

.toggle.pro {
    background-color: black;
    border-color: #333333;
    height: 30px;
    width: 60px;
    box-shadow:
        calc(30px * -1) 0 0 2px #333333 inset,
        0 0 0 2px #333333 inset,
        0 0;
}

.toggle.pro:checked {
    border: none;
    box-shadow:
        calc(30px) 0 0 2px #00ff99 inset,
        0 0 0 2px #00ff99 inset,
        0 0;
}

.toggle.pro:disabled {
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    .toggle.pro {
        height: 20px;
        width: 40px;
        box-shadow:
            calc(20px * -1) 0 0 1px #333333 inset,
            0 0 0 1px #333333 inset,
            0 0;
    }

    .toggle.pro:checked {
        box-shadow:
            calc(20px) 0 0 1px #00ff99 inset,
            0 0 0 1px #00ff99 inset,
            0 0;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.StripeElement--webkit-autofill {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
