@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff2') format('woff2'),
      url('../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff2') format('woff2'),
      url('../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NB_Akademie_Std_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NB_Akademie_Std_Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff2') format('woff2'),
      url('../assets/fonts/NBAkademieStd/NBAkademieStd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff2') format('woff2'),
      url('../assets/fonts/NBAkademieStd/NBAkademieStdLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NB_Akademie_Std_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NB_Akademie_Std_Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Akademie Std';
  src: url('../assets/fonts/NBAkademieStd/NB_Akademie_Std_Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl sm:text-6xl
  }

  h2 {
    @apply text-lg sm:text-3xl
  }
}

@layer components {
  .checkbox {
    @apply rounded-none border-none bg-white checked:bg-white
  }

  .btn {
    @apply rounded-none font-medium tracking-[-0.03em] lowercase
  }

  .btn-gallery {
    @apply font-medium tracking-[-0.03em] lowercase no-animation text-[16px] sm:text-xl sm:btn-lg
  }

  .btn-gallery.locked {
    @apply fixed bottom-0 left-0 w-full sm:static drop-shadow-[0_-5px_10px_rgba(0,0,0,0.2)] sm:drop-shadow-none
  }

  .divider {
    @apply before:bg-white/20 after:bg-white/20 rounded-sm before:h-[1px] after:h-[1px]
  }

  .list.pro {
    @apply first:border-t-2 first:border-white/20
  }

  .list .item {
    @apply border-white/20 border-b-2 py-3 sm:py-7 sm:h-[100px] text-lg sm:text-4xl font-normal flex flex-row justify-between items-center
  }

  .input, .select, .textarea {
    @apply input-ghost bg-white/[.08] text-white focus:bg-white/10 focus:text-white placeholder:text-white/20 disabled:bg-white/[0.03] disabled:border-white/[0.03] disabled:placeholder:text-white/10
  }

  .form-control .label-text {
    @apply text-white/40
  }

  .input.data-capture, .select.data-capture {
    @apply rounded-none bg-white text-black placeholder:text-black text-[16px] sm:text-xl font-normal sm:input-lg
  }

  .input.error, .select.error {
    @apply placeholder:text-red-600 text-red-600
  }

  .input.pro, .textarea.pro {
    @apply bg-transparent active:border-none text-right text-xl sm:text-4xl text-primary outline-none h-auto flex-1
  }

  .textarea.pro.left, .input.pro.left {
    @apply text-left pl-0
  }

  .select.pro {
    @apply h-auto bg-transparent active:border-none outline-none min-h-fit
  }

  .tab {
    @apply opacity-30 hover:opacity-100 transition-opacity
  }

  .tab-active {
    @apply opacity-100 
  }

  .table.table-ghost :where(tbody th, tbody td, thead) {
    @apply bg-transparent border-white/20 border-b-[1px] tracking-tight text-lg leading-4 py-5
  }

  .table.table-ghost :where(thead th) {
    @apply text-base normal-case font-medium
  }

  .table.table-ghost :where(thead) {
    @apply border-t-[1px]
  }

  .toggle.pro {
    @apply bg-black
  }

  .icon svg {
    @apply scale-150
  }

}

@supports (font: -apple-system-body) and (-webkit-appearance: none) { img[loading="lazy"] { clip-path: inset(0.6px) } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background-color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  letter-spacing: -0.03rem;
  line-height: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.input.pro:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00FF99 !important;
}

.toggle.pro {
  background-color: black;
  border-color: #333333;
  height: 40px;
  width: 80px;
  box-shadow: calc(40px * -1) 0 0 2px #333333 inset, 0 0 0 2px #333333 inset, 0 0;
}

.toggle.pro:checked {
  border: none;
  box-shadow: calc(40px) 0 0 2px #00FF99 inset, 0 0 0 2px #00FF99 inset, 0 0;
}

.toggle.pro:disabled {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.StripeElement--webkit-autofill {
  background-color: transparent !important;
}